
.header {
    background-color: #f1f1f1

}

.uk-card {
    background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный фон для карточек */
    color: #000; /* Цвет текста в карточках */
}

.uk-navbar-container {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для навигационной панели */
}


h1, h2, h3, h4, h5, h6 {
    color: #000; /* Цвет заголовков */
}

.uk-pagination {
    color: #000;
}